.env
vendor
mns-backup
mns-download
error.log
node_modules
composer-lock.json
.env.testing
.phpunit.result.cache
worker.log
*.log
*.ignore.*
*.log.*
modules/*
!modules/.temp
modules/.temp/*
!modules/index.html
public/modules/*
public/storage
public/export/*
!public/export/index.html
!public/modules/index.html
public/js
public/css/*.css
public/js/*.map
public/js/*.txt
public/css
public/lang
public/modules-lang/*
!public/modules-lang/index.html
public/mapping.json
public/css-manifest.json
public/mix-manifest.json
storage/module.zip
tests/database.sqlite
tests/database.sqlite-journal
tests/Post/*
storage/snapshots/*.sql
.idea
database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
